.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2px;
  position: relative; /* Added to ensure .logout positioning is relative to .app */
}

.logout {
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 10px 20px;
  background-color: #f44336;
  color: #fff;
  border: none;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: row; /* Default for larger screens */
  bottom: 3px;
  max-height: 75%;
  overflow: auto; /* Ensures content is scrollable if it exceeds max-height */
}

.left-column {
  width: 40%;
}

.right-column {
  width: 60%;
}

h3 {
  margin-bottom: 15px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .content {
    flex-direction: column; /* Stack columns vertically on smaller screens */
  }

  
  

  .logout {
    position: static; 
    margin-bottom: 10px; 
  }
}
