.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  width: 100%;
  text-align: center;
  max-height: 500px;
  overflow-y: auto;
  
}
